DATABASE_URL="mongodb+srv://root:randompassword@cluster0.ab1cd.mongodb.net/mydb?retryWrites=true&w=majority"
AUTH_SECRET=";)"
AUTH_GOOGLE_ID={CLIENT_ID}
AUTH_GOOGLE_SECRET={CLIENT_SECRET}
AUTH_LINKEDIN_ID={CLIENT_ID}
AUTH_LINKEDIN_SECRET={CLIENT_SECRET}
AUTH_TRUST_HOST={true:false}